<div class="banner">
 <h2> List of movies in <%= @list.name %></h2>
</div>

<% @list.movies.each do |movie| %>
  <div class="card">
    <h3><%= movie.title %></h3>
    <p><%= movie.overview %></p>
  </div>
<% end %>


<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<%= link_to "Back to lists", lists_path %>
